# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular Data Science Languages.
 - List commonly used libraries in Data CScience.
 - Train the use of Markdown.

## Author:
Vicente Franco Bayona

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SSQL
4. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Python:
    - Numpu
    - Pandas
    - Matplotlib & Seaborn
    - Scikit-learn
2. R:
    - ggplot2
    - dplyr
    - caret

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio          |
| Apache Zeppelin  |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers:

In [8]:
3*4+5

17

This will convert 200 minutes to hours by diving by 60:

In [9]:
200/60

3.3333333333333335